
@media screen and (max-width: 576px) {
  header .navbar ,   .score , .Authentic-Retro {
  
    flex-direction: column;
  }
  .menu li {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
   

   
  }
  .product-cards{

flex-direction: column;
  }
  .join-now
  {
    display: none;
  }
  .score{

  }
  .text{
 
  }



















}
